---
import Layout from "../components/layout.astro";
---

<Layout>
  <div class="flex flex-col items-center justify-center h-full">
    <div class="text-white text-4xl font-bold">me</div>
  </div>
</Layout>
