---
import Layout from "../components/layout.astro";
import "@fontsource-variable/jetbrains-mono";
import { ME_DESCRIPTION } from "../config";
import ContactRow from "../components/contact-row.astro";
---

<Layout>
  <div class="mx-auto max-w-screen-md bg-neutral-900/80 rounded-lg p-4 mt-[60px] md:mt-[80px]">
    <div class="flex-col-reverse md:flex-row flex items-center justify-center gap-6 md:gap-4 h-full text-white">
      <div>
        <h3 class="text-white text-2xl font-logo">Hello, I am Mu Jing!</h3>
        <p class="font-mono text-slate-400 my-6" set:html={ME_DESCRIPTION} />
      </div>
      <div class="text-4xl font-bold min-w-48">
        <img src="/avatar.jpeg" alt="me" class="w-48 h-48 rounded-full" />
      </div>
    </div>
    <ContactRow />
  </div>
</Layout>
