---
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import Footer from "./footer.astro";
import Header from "./header.astro";
import Meta from "./meta.astro";
import StarBackground from "./react/StarBackground.tsx";

import "@fontsource/press-start-2p";
import "@fontsource/poppins";

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-slate-900">
  <head>
    <Meta title={title ? `${title} · ${SITE_TITLE}` : SITE_TITLE} description={description ?? SITE_DESCRIPTION} />
  </head>
  <body class="relative bg-neutral-900">
    <div id="layout-container" class="z-10 flex flex-col h-full mb-8 overflow-y-scroll antialiased transparent">
      <Header />

      <div class="flex-auto">
        <slot />
      </div>
      <Footer />
    </div>

    <StarBackground client:idle />
  </body>
</html>
