---
const props = Astro.props;
import { Icon } from "astro-icon/components";
---

<h2 {...props} class="text-2xl font-bold mt-10 mb-2 relative scroll-mt-40 group" id={`${props.id}`}>
  <slot />
  <a
    href={`#${props.id}`}
    class="text-slate-400 inline-block size-6 opacity-0 group-hover:opacity-100 hover:text-highlight"
  >
    <Icon name="mdi:link" width={24} height={24} class="transition-colors duration-300" />
  </a>
</h2>
